.panel.left {
  position: absolute ;
  --tw-bg-opacity: 1;
  background-color: #2c8281d2;
  top: 20px;
  left: 15px;
  padding: 10px 20px;
  cursor: pointer;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  gap: 10px;
  box-shadow: 0 0 10px 0 rgb(0 0 0 / 20%);
  font-family: 'Roboto', sans-serif;

}

#options-container {
  display: none;
  position: absolute;
  top: 70px;
  bottom: 280px; /* Ajusta según el espacio entre la parte inferior y las escalas */
  left: 20px;  /* Ajusta según lo necesites */
  --tw-bg-opacity: 1;
  background-color: #2c8281cc;

  
}

.layers:hover {
  background-color: #528bb9;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0 0 5px #888888;
}