*,
*::before,
*::after {
  box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


.ol-rotate{
  display: none;
}

/* Zoom */
.ol-zoom {
  position: fixed;
  bottom: 20px;              /* Ajusta la distancia desde la parte inferior */
  left: 50%;                 /* Coloca el contenedor en el centro */
  transform: translateX(-50%); /* Corrección para centrar completamente */
  display: flex;             /* Alinea los botones horizontalmente */
  justify-content: center;   /* Alineación de los botones al centro */
  gap: 10px;                 /* Espacio entre los botones */
  z-index: 1000;             /* Asegura que los controles estén por encima */
  background-color: rgba(180, 179, 179, 0.705); /* Fondo semi-transparente */
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.2);
}
/* FullScreen */

.ol-full-screen{
  position: fixed;
  bottom: 20px;              /* Ajusta la distancia desde la parte inferior */
  right: 8%;                 /* Coloca el contenedor en el centro */
  transform: translateX(-50%); /* Corrección para centrar completamente */
  display: flex;             /* Alinea los botones horizontalmente */
  justify-content: center;   /* Alineación de los botones al centro */
  gap: 10px;                 /* Espacio entre los botones */
  z-index: 1000;             /* Asegura que los controles estén por encima */
  background-color: rgba(180, 179, 179, 0.705); /* Fondo semi-transparente */
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.2);
}

.ol-zoom button,.ol-full-screen button {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 3px;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  font-size: 25px;
  width: 40px;   /* Ajusta el tamaño de los botones */
  height: 40px;  /* Ajusta el tamaño de los botones */
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .ol-full-screen button{
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  font-size: 25px;
  text-align: center;
  line-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* Measure */

.ol-tooltip {
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  color: white;
  padding: 4px 8px;
  opacity: 0.7;
  white-space: nowrap;
  font-size: 12px;
  cursor: default;
  user-select: none;
}
.ol-tooltip-measure {
  opacity: 1;
  font-weight: bold;
}
.ol-tooltip-static {
  background-color: #ffcc33;
  color: black;
  border: 1px solid white;
}
.ol-tooltip-measure:before,
.ol-tooltip-static:before {
  border-top: 6px solid rgba(0, 0, 0, 0.5);
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  content: "";
  position: absolute;
  bottom: -6px;
  margin-left: -7px;
  left: 50%;
}
.ol-tooltip-static:before {
  border-top-color: #ffcc33;
}


/* ScaleLine */

.ol-scale-bar{
  position: absolute;
  bottom: 20px;
  left: 20px;
  z-index: 1000;
  --tw-bg-opacity: 1;
  background-color: #2C8281;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.2);
  color: white;
}


.bgRed{
  background-color: rgb(100 28 52 / var(--tw-bg-opacity));
  color: white;
}

.bgRed > *{
  color: white;
}