/* Sidebar fijo a la derecha */
.sidebar-fixed {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 150px; /* Ajusta el ancho según sea necesario */
  background-color: #2C8281;
  color: #fff; /* Color de texto */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 20px; /* Espaciado superior */
  z-index: 1000; /* Asegura que se muestre por encima de otros elementos */
}

/* Estilo de los items del sidebar */
.sidebar-item {
  padding: 15px;
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
  border-bottom: 1px solid #e4d7d748;
}

.sidebar-item:hover {
  background-color: #3fb0b64f;
}